$color-primary: #1F1F1F;
$color-secondary: #F3F3F3;
$color-action: #F7BE78;
$color-error: #FF1F1F;
$color-white: #FFFFFF;
$color-slate-grey: #444446;
$color-grey: rgba(0, 0, 0, 0.12);
$app-bar-height: 100px;

.main-container {
    height: 100%;
}

.selection-container {
    padding: 20px;
    font-size: 16px;
    color: $color-primary;
    height: calc(100% - $app-bar-height - 40px);
    background: $color-secondary;
}

.landing-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.standard-btn {
    min-width: 180px;
    width: fit-content;
}

.logo {
    border: 1px solid $color-slate-grey;
    width: 180px;
    height: 73.5px;
}

.app-bar {
    header {
        height: $app-bar-height;
        padding: 10px;

        .logo {
            margin-right: 10px;
        }

        .app-bar-actions {
            display: flex;
            flex-grow: 1;
        }

        @media (max-width: 800px) {
            .logo {
                width: 100px;
                height: 41px;
            }

            .app-bar-actions {
                flex-wrap: wrap;
            }
        }
    }
}

.far-right {
    margin-left: auto;
}

.configurator {
    width: calc(100% - 480px) !important;

    @media (max-width: 800px) {
        width: 100% !important;
        height: calc(100% - 170px) !important;
    }
}

.configurator-panel {
    position: absolute;
    right: 60px;
    top: calc($app-bar-height + 60px);
    width: 400px;
    height: calc(100vh - $app-bar-height - 120px);
    background: $color-white;

    @media (max-width: 800px) {
        right: unset;
        top: unset;
        bottom: 10px;
        width: calc(100% - 40px);
        height: fit-content;
    }
}